/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

nav {
  padding: 2em;
  font-size: 1.2em;
}
nav * {
  font-size: 1.2em;
}

nav #next {
  margin-left: 15%;
}

.gallery-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.vignette{
  min-height: 300px;
  text-align: center;
  margin: 0 20px 0 20px;
  border: black solid 1px;
  padding: 10px;
}

#lightbox_container {
  text-align: center;
  background: rgba(45, 52, 54,0.9);
  display: flex;
  position: fixed;
  top :0;
  left:0;
  width: 100%;
  height: 100%;
  display: none;
  overflow: scroll;
}
.com{
  border-bottom: solid 1px grey;
  padding: 10px;
}

#lightbox {
  width: 80%;
  margin: auto;
  text-align: center;
}

#lightbox_close {
  color: lightgrey;
  background: black;
  padding: 10px;
  border-radius: 4px;
  opacity: 0.6;
}

#lightbox_close:hover{
  opacity: 1;
}

#lightbox_title {
  font-size: 3em;
  margin-bottom: 20px;
  color: lightgray;
}

#lightbox-infos, #commentaires, #formulaireCom{
  padding: 20px;
  max-width: 500px;
  position: absolute;
  top : 600px;
  background-color: black;
  opacity:0.8;
  color: lightgrey;
}
#lightbox-infos{
  left : 180px;
}

#commentaires{
  font-weight: bold;
  right : 180px;
}

#formulaireCom {
  left : 180px;
  top: 900px;
}

#lightbox_close {
  position: absolute;
  top : 20px;
  left :20px;
}
#lightbox_suiv {
  color: lightgrey;
  background: black;
  padding: 5px;
  border-radius: 4px;
  opacity: 0.6;
  position: absolute;
  top : 350px;
  right :50px;
  font-size: 2em;
}

#lightbox_prec {
  color: lightgrey;
  background: black;
  padding: 5px;
  border-radius: 4px;
  opacity: 0.6;
  position: absolute;
  top : 350px;
  left :50px;
  font-size: 2em;
}

#lightbox_full_img{
    max-width: 60%;
}

#lightbox_prec:hover{
  opacity: 1;
}

#lightbox_suiv:hover{
  opacity: 1;
}





